html {
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #383838;
  margin-bottom: 50px;
  color: #E0E0E0;
}

body a {
  text-decoration: none;
}

body p, body a, body h1, body h2, body i {
  color: #E0E0E0;
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-bottom: 10vh;
}

main .upload-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #121212;
  border: 1px #E0E0E0 solid;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .upload-btn img {
  width: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
}

main .upload-btn span {
  display: none;
  font-size: 20px;
  -webkit-animation: button-text-slide 1s;
          animation: button-text-slide 1s;
}

main .upload-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  width: 150px;
}

main .upload-btn:hover span {
  display: block;
}

main .create-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.425);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

main .create-background .create-menu {
  width: 40%;
  height: 80%;
  background: #2F2F2F;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px black solid;
  border-radius: 10px;
}

@media (max-width: 660px) {
  main .create-background .create-menu {
    width: 95%;
    height: 95%;
  }
}

main .create-background .create-menu h2 {
  height: 7%;
}

main .create-background .create-menu textarea {
  resize: none;
  background: transparent;
  color: #E0E0E0;
  outline: none;
  width: 60%;
}

main .create-background .create-menu select {
  background: #383838;
  color: #E0E0E0;
  cursor: pointer;
  margin: 20px 0 0 0;
  outline: none;
  width: 40%;
  height: 25px;
}

main .create-background .create-menu .textbox {
  height: 40%;
}

main .create-background .create-menu .headerbox {
  height: 7%;
}

main .create-background .create-menu .buttons {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .create-background .create-menu .buttons .btn-wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

main .create-background .create-menu .buttons .btn-wrapper button {
  width: 70px;
  height: 35px;
  background: #121212;
  color: #E0E0E0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

main .create-background .create-menu .buttons .btn-wrapper button:nth-child(2) {
  background: gray;
}

main .post-place {
  width: 100%;
  min-height: 85vh;
  margin-top: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

main .post-place .post {
  width: 300px;
  min-height: 300px;
  background: #2b2b2b;
  border: 1px #121212 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin-top: 4vh;
  position: relative;
}

main .post-place .post .delete-post-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
  width: 10px;
  height: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .post-place .post .header {
  width: 80%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: break-all;
  text-align: left;
}

main .post-place .post .post-img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .post-place .post .text {
  width: 80%;
  height: 70%;
  word-break: break-all;
}

main .post-place .post .extra {
  height: 10%;
  width: 90%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px #E0E0E0 solid;
  padding-top: 10px;
}

main .post-place .post .extra p {
  font-size: 12px;
}

main .post-place .post .extra .fav-icon {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
}

main .post-place .post .type {
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 5px;
  font-weight: bold;
}

main .filter-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .filter-list h2 {
  color: white;
}

main .filter-list ul {
  width: 30%;
  height: 80%;
  background: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px black solid;
  border-radius: 15px;
}

@media (max-width: 660px) {
  main .filter-list ul {
    width: 80%;
  }
}

main .filter-list ul li {
  font-size: 20px;
  width: 70%;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px #121212 solid;
}

main .filter-list ul li:last-child {
  border: none;
}

main .filter-list ul li:hover {
  -webkit-transition: .5s;
  transition: .5s;
  width: 50%;
  color: gray;
  cursor: pointer;
}

main .filter-list .filter-cancel-btn {
  width: 90px;
  height: 38px;
  font-size: 16px;
  background: #2E2E2E;
  color: #E0E0E0;
  border: #121212;
  border-radius: 5px;
}

main .filter-list .filter-cancel-btn:hover {
  border: 1px #E0E0E0 solid;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 15px;
  cursor: pointer;
}

main .filter-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #121212;
  border: 1px #E0E0E0 solid;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .filter-btn img {
  width: 25px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
}

main .filter-btn span {
  display: none;
  font-size: 20px;
  -webkit-animation: button-text-slide 1s;
          animation: button-text-slide 1s;
}

main .filter-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  width: 120px;
}

main .filter-btn:hover span {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

@-webkit-keyframes button-text-slide {
  0% {
    margin-right: -50px;
    opacity: 0;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}

@keyframes button-text-slide {
  0% {
    margin-right: -50px;
    opacity: 0;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}

.show {
  display: block;
}
/*# sourceMappingURL=assets.css.map */