html {
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #383838;
  margin-bottom: 50px;
  color: #E0E0E0;
}

body a {
  text-decoration: none;
}

body p, body a, body h1, body h2, body i {
  color: #E0E0E0;
}

body .nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

body .nav-holder nav {
  position: relative;
  width: 100%;
  height: 10vh;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .nav-holder nav .fa-bars {
  position: absolute;
  left: 20px;
  top: 35%;
  font-size: 20px;
  display: none;
}

@media (max-width: 800px) {
  body .nav-holder nav .fa-bars {
    display: block;
  }
}

body .nav-holder nav h1 {
  margin: 0;
  font-size: 32px;
  border: 1px #e7e6e1 solid;
  padding: 5px;
  border-radius: 5px;
}

body .nav-holder nav h1 a {
  color: #e7e6e1;
}

body .nav-holder nav p {
  font-size: 20px;
}

@media (max-width: 800px) {
  body .nav-holder nav p {
    display: none;
  }
}

body .nav-holder nav p a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(247, 246, 246, 0.33);
}

body .nav-holder nav .user-1, body .nav-holder nav .user-2 {
  position: absolute;
  right: 5vh;
  top: 3vh;
  border: 1px #e7e6e1 solid;
  border-radius: 20%;
  padding: 7px;
  cursor: pointer;
}

@media (max-width: 800px) {
  body .nav-holder nav .user-1, body .nav-holder nav .user-2 {
    display: none;
  }
}

body .nav-holder nav .user-2 {
  display: none;
}

body .nav-holder nav .user-1:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(247, 246, 246, 0.33);
  border: 1px rgba(247, 246, 246, 0.33) solid;
  border-radius: 80%;
}

@media (max-width: 800px) {
  body .nav-holder nav .user-1:hover {
    display: none;
  }
}

body .nav-holder nav .register-or-login {
  position: absolute;
  right: 0;
  top: 10vh;
  min-width: 300px;
  min-height: 100px;
  background: #424242;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0 0 20px 20px;
  border: 2px #121212 solid;
  -webkit-animation-name: card-slide-left;
          animation-name: card-slide-left;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media (max-width: 800px) {
  body .nav-holder nav .register-or-login {
    left: 40%;
    bottom: 50px;
    z-index: 3;
  }
}

body .nav-holder nav .register-or-login .button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 100px;
}

body .nav-holder nav .register-or-login .button-div button {
  width: 100px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px 0;
  border: none;
  background: transparent;
  color: #E0E0E0;
}

body .nav-holder nav .register-or-login .user-info1 {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 0 10px;
}

body .nav-holder nav .register-or-login .user-info1 .username {
  margin: 0px;
}

body .nav-holder nav .register-or-login .user-info1 .user-email, body .nav-holder nav .register-or-login .user-info1 p {
  font-size: 12px;
  margin: 0px;
}

body .nav-holder nav .register-or-login .user-info1 .logout-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

body .nav-holder nav .nav-sidebar {
  display: none;
  height: 100vh;
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  background: #2E2E2E;
  -webkit-box-shadow: 18px 0px 20px 0px #2E2E2E;
  box-shadow: 18px 0px 20px 0px #2E2E2E;
  -webkit-animation-name: card-slide-right;
          animation-name: card-slide-right;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

body .nav-holder nav .nav-sidebar .sidebar-closer {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

body .nav-holder nav .nav-sidebar ul {
  margin-top: 50px;
  list-style: none;
}

body .nav-holder nav .nav-sidebar ul li p {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

body .nav-holder nav .nav-sidebar ul ul {
  margin: 0;
  display: none;
}

body .nav-holder nav .nav-sidebar ul ul li {
  -webkit-animation-name: card-slide-down;
          animation-name: card-slide-down;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  margin: 10px 0;
}

body .nav-holder nav .nav-sidebar ul ul li button {
  width: 150px;
  height: 40px;
  border: none;
  background: transparent;
  color: #E0E0E0;
}

body .nav-holder nav .nav-sidebar ul ul .user-profile-info {
  display: none;
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

main .upload-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #121212;
  border: 1px #E0E0E0 solid;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .upload-btn img {
  width: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
}

main .upload-btn span {
  display: none;
  font-size: 20px;
  -webkit-animation: button-text-slide 1s;
          animation: button-text-slide 1s;
}

main .upload-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  width: 150px;
}

main .upload-btn:hover span {
  display: block;
}

main .create-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.425);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

main .create-background .create-menu {
  width: 40%;
  height: 60%;
  background: #2F2F2F;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px black solid;
  border-radius: 10px;
}

@media (max-width: 660px) {
  main .create-background .create-menu {
    width: 90%;
  }
}

main .create-background .create-menu h2 {
  height: 7%;
}

main .create-background .create-menu textarea {
  resize: none;
  background: transparent;
  color: #E0E0E0;
  outline: none;
  width: 60%;
}

main .create-background .create-menu select {
  background: #383838;
  color: #E0E0E0;
  cursor: pointer;
  margin: 20px 0 0 0;
  outline: none;
  width: 40%;
  height: 25px;
}

main .create-background .create-menu .textbox {
  height: 40%;
}

main .create-background .create-menu .headerbox {
  height: 7%;
}

main .create-background .create-menu .buttons {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .create-background .create-menu .buttons .btn-wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

main .create-background .create-menu .buttons .btn-wrapper button {
  width: 70px;
  height: 35px;
  background: #121212;
  color: #E0E0E0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

main .create-background .create-menu .buttons .btn-wrapper button:nth-child(2) {
  background: gray;
}

main .post-place {
  width: 100%;
  min-height: 85vh;
  margin-top: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .post-place .post {
  width: 300px;
  min-height: 220px;
  background: #2b2b2b;
  border: 1px #121212 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin-top: 4vh;
  position: relative;
}

main .post-place .post img {
  position: absolute;
  top: 2px;
  right: 2px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
  width: 10px;
  height: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .post-place .post .header {
  width: 80%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: break-all;
  text-align: left;
}

main .post-place .post .text {
  width: 80%;
  height: 70%;
  word-break: break-all;
}

main .post-place .post .extra {
  height: 10%;
  width: 90%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .post-place .post .extra p {
  font-size: 12px;
}

main .post-place .post .type {
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 5px;
  font-weight: bold;
}

main .filter-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .filter-list h2 {
  color: white;
}

main .filter-list ul {
  width: 30%;
  height: 80%;
  background: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 660px) {
  main .filter-list ul {
    width: 80%;
  }
}

main .filter-list ul li {
  font-size: 20px;
  width: 70%;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px #121212 solid;
}

main .filter-list ul li:last-child {
  border: none;
}

main .filter-list ul li:hover {
  -webkit-transition: .5s;
  transition: .5s;
  width: 50%;
  color: gray;
  cursor: pointer;
}

main .filter-list .filter-cancel-btn {
  width: 90px;
  height: 38px;
  font-size: 16px;
  background: #2E2E2E;
  color: #E0E0E0;
  border: #121212;
  border-radius: 5px;
}

main .filter-list .filter-cancel-btn:hover {
  border: 1px #E0E0E0 solid;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 15px;
  cursor: pointer;
}

main .filter-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #121212;
  border: 1px #E0E0E0 solid;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .filter-btn img {
  width: 25px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
}

main .filter-btn span {
  display: none;
  font-size: 20px;
  -webkit-animation: button-text-slide 1s;
          animation: button-text-slide 1s;
}

main .filter-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  width: 120px;
}

main .filter-btn:hover span {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

@-webkit-keyframes button-text-slide {
  0% {
    margin-right: -50px;
    opacity: 0;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}

@keyframes button-text-slide {
  0% {
    margin-right: -50px;
    opacity: 0;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}

.show {
  display: block;
}
/*# sourceMappingURL=assets.css.map */