a {
  color: #E0E0E0;
  text-decoration: none;
}

i {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin-bottom: 50px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15vh;
}

body main .register-popup {
  width: 400px;
  height: 400px;
  background: #2b2b2b;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #121212 solid;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
}

body main .register-popup div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .register-popup div button {
  background-color: #424242;
  color: #E0E0E0;
  border-radius: 5px;
  border: 1px #121212 solid;
  padding: 10px;
  margin-top: 10px;
}

body main .register-popup div button:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 15px;
  background: grey;
}

body main .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5vh;
}

body main .posts h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  color: #E0E0E0;
}

body main .posts h1 img:first-child {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

body main .posts h1 img {
  width: 20px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
  margin-left: 15px;
}

body main .posts h1 .p-down {
  display: none;
}

body main .posts .recent-posts-container {
  width: 100%;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important;
}

body main .posts .recent-posts-container .post {
  width: 300px;
  min-height: 300px;
  background: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin-top: 4vh;
  border: 1px #121212 solid;
  position: relative;
}

body main .posts .recent-posts-container .post .header {
  width: 80%;
  height: 10%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: break-all;
  text-align: left;
}

body main .posts .recent-posts-container .post .text {
  width: 80%;
  height: 70%;
  word-break: break-all;
}

body main .posts .recent-posts-container .post .extra {
  height: 10%;
  width: 90%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px #E0E0E0 solid;
  padding-top: 10px;
}

body main .posts .recent-posts-container .post .extra p {
  font-size: 12px;
}

body main .posts .recent-posts-container .post .extra .fav-icon {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
}

body main .posts .recent-posts-container .post .type {
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 5px;
  font-weight: bold;
}

body main .posts .recent-posts-container .post:first-child {
  margin-top: 7vh;
}

body .fav-posts h1 .fp-down {
  display: none;
}

body .fav-posts .favourite-posts-container {
  width: 100%;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important;
}

body .fav-posts .favourite-posts-container .fav-post {
  width: 300px;
  min-height: 300px;
  background: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin-top: 4vh;
  border: 1px #121212 solid;
  position: relative;
}

body .fav-posts .favourite-posts-container .fav-post .header {
  width: 80%;
  height: 10%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: break-all;
  text-align: left;
}

body .fav-posts .favourite-posts-container .fav-post .text {
  width: 80%;
  height: 70%;
  word-break: break-all;
}

body .fav-posts .favourite-posts-container .fav-post .extra {
  height: 10%;
  width: 90%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px #E0E0E0 solid;
  padding-top: 10px;
}

body .fav-posts .favourite-posts-container .fav-post .extra p {
  font-size: 12px;
}

body .fav-posts .favourite-posts-container .fav-post .extra .fav-icon {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
          filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(59deg) brightness(88%) contrast(99%);
}

body .fav-posts .favourite-posts-container .fav-post .type {
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 5px;
  font-weight: bold;
}

body .fav-posts .favourite-posts-container .post:first-child {
  margin-top: 7vh;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.arrow-open {
  -webkit-animation: arrow-open 0.5s both;
          animation: arrow-open 0.5s both;
}

.arrow-close {
  -webkit-animation: arrow-close 0.5s both;
          animation: arrow-close 0.5s both;
}

::-webkit-scrollbar-track {
  background: #999999;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

@-webkit-keyframes arrow-open {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes arrow-open {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes arrow-close {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes arrow-close {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=index.css.map */